.headText{
  margin-top: 5%;
  margin-bottom: 3%;
}

.progressBar{
  margin-left: 37%;
  justify-items: center;
}

.forms{
  margin-top: 1%;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
} 

.inputLabels{
  float: left;
  font-weight: 500;
}

.createButton{
  width: 100%;
  height: 40px;
  border: none;
  color:white;
  border-radius: 5px;
  background-color: rgb(102, 64, 238);
}

.launchEden{
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
  height: 40px;
  border: none;
  color:white;
  border-radius: 5px;
  background-color: rgb(102, 64, 238);
}

.icons{
  color: rgb(102, 64, 238);
}

.choices{
  border-radius: 8px;
  background-color: white;
}